{%- for sect, sect_data in influxdb.conf.items()|default({}) -%}
{{sect}}
{%- for sectopt, sectopt_data in sect_data|dictsort %}
{{sectopt}}={{sectopt_data}}
{%- endfor -%}{{- '\n' -}}
{%- endfor -%}

