{%- if influxdb.conf.without_section is defined and influxdb.conf.without_section -%}
{%- for nosectopt, nosectopt_data in influxdb.conf.without_section.items()|default({})|sort -%}
{{nosectopt}}={{nosectopt_data}}
{%- endfor -%}{{- '\n\n' -}}
{%- endif -%}
{%- for sect, sect_data in influxdb.conf.items()|default({}) -%}
{%- if sect not in 'without_section' -%}
{{sect}}
{%- for sectopt, sectopt_data in sect_data.items()|sort %}
{{sectopt}}={{sectopt_data}}
{%- endfor -%}{{- '\n\n' -}}
{%- endif -%}
{%- endfor -%}

