# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'influxdb/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {
            "sysconfdir" : '/etc/default',
        },
        'RedHat': {
            "sysconfdir": '/etc/sysconfig',
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('influxdb:lookup'))
%}
{% do default_settings.influxdb.update(os_family_map) %}

{% set influxdb = salt['pillar.get'](
        'influxdb',
        default=default_settings.influxdb,
        merge=True
    )
%}
